extends ../layout/main

block variables
  - const pageTitle = 'О компании'

block content
    include ../modules/header-white
    include ../modules/prelouder
    include ../modules/mobile-modal
    include ../modules/main-modal  

    section.about
        .m-container
            .m-row
                .m-col.m-col--4.m-col-md--5.m-col-xs--10 
                    .about-title 
                        h2 О компании
                        p Компания “Дефотек” была основана в 1994 году и сегодня является крупнейшим поставщиком вспомогательных технологических средств для сахарной промышленности в России.

                .m-col.m-col--3.m-col-md--1.m-col-xs--10  
                .m-col.m-col--3.m-col-md--4.m-col-xs--10
                    .about__company__numbers
                        .about__company__number.anim-number 1994
                        .about__company__desc год основания компании Дефотек 

            .m-row
                .m-col.m-col-lg--10
                    .photo-team
                        img(src="./media/image/our_team.png", alt="photo team")

    section.about_company
         .m-container
            .m-row
                .m-col.m-col--5.m-col-xs--10
                    .about_company_info
                        p Мы занимаемся поставкой антинакипинов, пеногасителей, флокулянтов и дезинфицирующих средств, а также реализуем базовые химические вещества, без которых не обходится ни одно сахарное производство.#[br]#[br]Высокотехнологичная продукция компании под товарными знаками #[span DEFOSCALE, DEFOSPUM, DEFOFLOC и DEFORMIN] производится исключительно на заводах стран Западной Европы и поставляется на российский рынок в неизменном виде и в оригинальной таре.
                        p.block-bold Главный офис, складские помещения и автопарк компании расположены в городе Армавир Краснодарского края. Также есть склады в Воронеже и Санкт-Петербурге.#[br]#[br] Общая площадь всех складских помещений составляет более 2 тысяч квадратных метров, что позволяет обеспечить постоянное наличие больших запасов продукции.
                .m-col.m-col--2.m-col-lg--1.m-col-xs--10
                .m-col.m-col--3.m-col-lg--4.m-col-xs--10
                    .company__right
                        .company__numbers
                            .company__number.anim-number 2000
                            .company__desc кв. м складов в Армавире,  #[br] Санкт-Петербурге и Воронеже

                        .alert-block
                            .info
                            .text Практически #[span во всех производственных сферах] #[br] применяются наши химические продукты
                                        

    section.principles
        .m-container
            .m-row
                .m-col.m-col--5.m-col-md--10
                    .principles-title
                        h3 Принципы компании
                    .principles-list
                        ul
                            li
                                h4 Быть лучшим в своем деле
                                p “Лучше делать что-то одно, и делать это очень и очень хорошо”, - говорит заместитель генерального директора ООО “Дефотек” Дмитрий Тур. Именно этим принципом можно объяснить 25-летний успех компании на российском рынке. Мы сосредоточены на комплексных поставках химических продуктов только для производителей сахара.
                            li
                                h4  Создавать партнерские отношения с клиентами
                                p Нам удалось создать дружеские и доверительные отношения с поставщиками и покупателями. Для нас каждый клиент - это важный деловой партнер, с которым мы стремимся построить сотрудничество на долгосрочной основе.
                            li
                                h4 Интересы клиента - главный приоритет
                                p Мы стараемся соответствовать ожиданиям наших клиентов и полностью удовлетворять их потребности.
                            li
                                h4 Честность - ключ к успеху
                                p  Мы всегда честны с нашими клиентами и предоставляем достоверную информацию о цене, качестве, происхождении и составе продуктов. Мы работаем только с ответственными поставщиками, которые имеют все необходимые документы.      

                .m-col.m-col--2.m-col-lg--1.m-col-md--10
                .m-col.m-col--3.m-col-lg--4.m-col-md--10
                    .about__video
                        .about__video-bg
                        .about__video-close
                        video.about__videoblock#about-video(src='./media/video/about.mp4' playsinline muted autoplay loop preload="" controls)
                        .video__play
                        .video__time 4:01
                    .principles__right
                        p “Дефотек” сегодня - это точный, отлаженный как швейцарские часы механизм. Здесь старательно выполняют свою работу службы логистики, маркетинга, контроля качества и доставки.#[br]#[br] #[span На протяжении многих лет компания остается крупнейшим поставщиком различной химии для сахарной промышленности.]    

    
    include ../modules/footer 