extends ../layout/main

block variables
  - const pageTitle = 'Главная'

block content
  include ../modules/header
  include ../modules/prelouder
  include ../modules/mobile-modal
  include ../modules/main-modal

  .fullPageNav#fullPageNav
    .fullPageNav__delimiter.fullPageNav__delimiter--first
    .fullPageNav__item.fullPageNav__item--active(data-number=1)
    .fullPageNav__delimiter
    .fullPageNav__item(data-number=2 data-anim='true')
    .fullPageNav__delimiter
    .fullPageNav__item(data-number=3 data-anim='true')
    .fullPageNav__delimiter.fullPageNav__delimiter
    .fullPageNav__item(data-number=4)
    .fullPageNav__delimiter.fullPageNav__delimiter
    .fullPageNav__item(data-number=5)
    .fullPageNav__delimiter.fullPageNav__delimiter
    .fullPageNav__item(data-number=6)
    .fullPageNav__delimiter.fullPageNav__delimiter
    .fullPageNav__item(data-number=7)
    .fullPageNav__delimiter.fullPageNav__delimiter--last

  .fullPageWrapper
    section(style='background-image: url(./media/image/home.jpg)').fullPage.home__first
      .m-container.first__container
        .m-row.first__row
          .m-col.m-col--2.m-col-sm--10
            .first__text-wrapp
              .first__text ПОСТАВЛЯЕМ
          .m-col.m-col--8.m-col-sm--10
            .first__wrapper
              .first__text.first__text--mobile ПОСТАВЛЯЕМ
              h2.first__title Вспомогательные #[br] средства для #[span.word-wrapp овощеперерабатывающего #[span.first__title-word.first__title-word--active сахарного] #[span.first__title-word крахмального] #[span.first__title-word дрожжевого] #[span.first__title-word овощеперерабатывающего] #[span.first__title-word деревообрабатывающего] #[span.first__title-word лакокрасочного] #[span.first__title-word горнорудного] #[span.first__title-word водоочистного] #[span.first__title-word фармацевтического] #[span.first__title-word строительного]] #[br] производства
                .first__buttons
                  button.first__button Антинакипины
                  button.first__button Пеногасители
                .first__buttons
                  button.first__button Биоциды
                  button.first__button Флокулянты
              button.first__button-down(data-number=2)

    section.fullPage.home__about
      .particle#particle
      .m-container
        .m-row
          .m-col.m-col--3.m-col-sm--10
            h2.about__title Поставщик №1 #[br] в России
            p.about__text 25 лет безупречной работы и безусловное лидерство по объемам поставок вспомогательных технологических средств для сахарной промышленности в России.
            a(href='#').about__link О компании
          .m-col.m-col--4.m-col-sm--10
            .about__video
              .about__video-bg
              .about__video-close
              video.about__videoblock#about-video(src='./media/video/about.mp4' playsinline muted autoplay loop preload="" controls)
              .video__play
              .video__time 4:01
          .m-col.m-col--3.m-col-sm--10
            .about__numbers
              .about__number.anim-number 5800
              .about__desc тонн поставляемой #[br] продукции ежегодно

              .about__number.anim-number 2000
              .about__desc кв. м складов в Армавире, #[br] Санкт-Петербурге и Воронеже

              .about__number.anim-number 37
              .about__desc заводов-партнеров

    section.fullPage.industry
      .m-container
        .m-row
          .m-col.m-col--3.m-col-xs--10.order-1
            .industry__text
              h2.industry__title Отрасли
              p.industry__desc Наша продукция используется во многих промышленных отраслях и является неотъемлимой частью на производстве.
          .m-col.m-col--4.m-col-xs--10.order-3
            .industry__list-wrapper
              .industry__list.out-scroll
                .item
                  .item__icon
                  .item__text
                    .title Пеногасители #[br] для очистных сооружений
                    .desc Разработаны таким образом, чтобы не влиять на уровень растворенного кислорода. Благодаря низкой токсичности и хорошей биоразлагаемости они оказывают минимальное воздействие на окружающую среду.

                .item
                  .item__icon
                  .item__text
                    .title Пеногасители #[br] для очистных сооружений
                    .desc Разработаны таким образом, чтобы не влиять на уровень растворенного кислорода. Благодаря низкой токсичности и хорошей биоразлагаемости они оказывают минимальное воздействие на окружающую среду.

                .item
                  .item__icon
                  .item__text
                    .title Пеногасители #[br] для очистных сооружений
                    .desc Разработаны таким образом, чтобы не влиять на уровень растворенного кислорода. Благодаря низкой токсичности и хорошей биоразлагаемости они оказывают минимальное воздействие на окружающую среду.

                .item
                  .item__icon
                  .item__text
                    .title Пеногасители #[br] для очистных сооружений
                    .desc Разработаны таким образом, чтобы не влиять на уровень растворенного кислорода. Благодаря низкой токсичности и хорошей биоразлагаемости они оказывают минимальное воздействие на окружающую среду.
          .m-col.m-col--3.m-col-xs--10.order-2
            .industry__left
              .industry__numbers
                .industry__number.anim-number 10
                .industry__desc промышленных отраслей #[br] используют нашу продукцию

              .alert-block
                .info
                .text Практически #[span во всех производственных сферах] #[br] применяются наши химические продукты

    section.fullPage.map
      .m-container.map__container
        .m-row.map__row
          .m-col.m-col--3.m-col-xs--10
            .map__img-wrapp
              img.map__img(src='./media/image/map.svg')
          .m-col.m-col--3.m-col-xs--10
            .map__text-wrapp
              img.text__logo(src='./media/icon/map-logo.svg')
              .small-text__desc Одним из партнеров компании является крупнейший в Европе завод по производству пеногасителей #[span PMC Ouvrie], который уже более века по праву считается лидером отрасли.
          .m-col.m-col--4.m-col-xs--10
            .map__big-text
              h2.big__title Лучшее качество #[br] и профессиональный сервис
              .big__text Мы уделяем особое внимание качеству поставляемой продукции. Вспомогательные технологические средства под брендами #[span DEFOSPUM], #[span DEFOSCALE], #[span DEFORMIN] и #[span DEFOFLOC] производятся исключительно на европейских заводах и на российский рынок поставляются в неизменном виде и в оригинальной таре.
              a.big__link(href='#') Подробнее

              .alert-block
                .info
                .text Мы обеспечиваем полное техническое сопровождение клиента в течение всего сельскохозяйственного сезона #[span в режиме 24/7] - от телефонных консультаций до оперативного выезда нашего специалиста на завод.

    section.fullPage.fon-video
      video.fon-video__bg(src='./media/video/fon.webm' poster='./media/image/volvo.jpg' playsinline muted autoplay loop preload="")
      .m-container
        .m-row
          .m-col.m-col--6.m-col-xs--10
            .fon-video__info
              h2.fon-video__title Надежная и быстрая доставка
              p.fon-video__text Мы располагаем современным грузовым парком грузоподъемностью до 21 тонны на базе новых тягачей Renault T-series, Volvo FH с тентованными полуприцепами. Мы понимаем, насколько важна скорость доставки, особенно в производственный сезон.
              .fon-video__number 1-2 дня
          .m-col.m-col--4
            .fon-video__left
              img.fon-video__logo(src='./media/icon/year-logo.svg')
              .fon-video__logo-text лет #[br] безупречной #[br] работы

    section.fullPage.home-man
      .particle#particle-2
      .m-container.home-man__container
        .m-row.home-man__row
          .m-col.m-col--2
          .m-col.m-col--8
            img.home-man__poligon(src='./media/icon/big-poligon.svg')
        .m-row
          .m-col.m-col--3.m-col-xs--10.home-man__flex-wrapper
            .home-man__text-icon “
            h3.home-man__name.home-man__name--current Константин Сахаровский
            h3.home-man__name Константин Сахаровский 2
            h3.home-man__name Константин Сахаровский 3
            .home-man__post.home-man__post--current Генеральный директор
            .home-man__post Генеральный директор 2
            .home-man__post Генеральный директор 3
            .home-man__about.home-man__about--current Мы располагаем современным грузовым парком грузоподъемностью до 21 тонны на базе новых тягачей Renault T-series, Volvo FH с тентованными полуприцепами.
            .home-man__about 2Мы располагаем современным грузовым парком грузоподъемностью до 21 тонны на базе новых тягачей Renault T-series, Volvo FH с тентованными полуприцепами.
            .home-man__about 3Мы располагаем современным грузовым парком грузоподъемностью до 21 тонны на базе новых тягачей Renault T-series, Volvo FH с тентованными полуприцепами.
            .home-man__nav
              .nav-item.prev
              .nav-item.next
          .m-col.m-col--5.m-col-md--6.m-col-xs--10
            .home-man__big-img-wrapp
              img.home-man__big-img.home-man__big-img--current(src='./media/image/man-big.png')
              img.home-man__big-img.home-man__big-img--hidden(src='./media/image/photo.jpg')
              img.home-man__big-img.home-man__big-img--hidden(src='./media/image/man-big.png')
          .m-col.m-col--2.m-col-md--1.m-col-xs--10
            .home-man__list
              .item.item--active(style='background-image: url(./media/image/man-1.png)')
              .item(style='background-image: url(./media/image/man-2.png)')
              .item(style='background-image: url(./media/image/man-1.png)')

    section.fullPage.partner
      picture
        source(srcset='./media/image/mobile-map.svg', media='(max-width: 760px)')
        source(srcset='./media/image/map-fon.svg')
        img.partner__fon-img(src='./media/image/map-fon.svg')
      .m-container.partner__container
        .m-row.partner__row
          .m-col.m-col--4.m-col-sm--10
            .partner__text
              h3.partner__title Наши #[br] партнеры
              .partner__mobile
                .mobile__number 37
                .mobile__text заводов используют химическую продукцию Дефотек по всей территории России
              .partner__desc Мы лидеры по качеству и объему продаж базовой и специальной химии для сахарных заводов в России. #[br] Компания сотрудничает с крупнейшими игроками в сфере производства сахара на российском рынке.
              .partner__list
                img.partner__img(src='./media/icon/part-4.svg')
                img.partner__img(src='./media/icon/part-1.svg')
                img.partner__img(src='./media/icon/part-2.svg')
                img.partner__img(src='./media/icon/part-3.svg').partner__img--last
                img.partner__img(src='./media/icon/part-5.svg').partner__img--last
          .m-col.m-col--3.m-col-lg--2
          .m-col.m-col--3.m-col-lg--4.m-col-sm--10
            .partner__alert
              .alert-block
                .info
                .number 37
                .desc заводов используют химическую продукцию Дефотек