extends ../layout/main

block variables
  - const pageTitle = 'Главная'

block content
  include ../modules/header
  include ../modules/prelouder
  include ../modules/mobile-modal
  include ../modules/main-modal

  .fullPageNav#fullPageNav
    .fullPageNav__delimiter.fullPageNav__delimiter--first
    .fullPageNav__item.fullPageNav__item--active(data-number=1)
    .fullPageNav__delimiter
    .fullPageNav__item(data-number=2 data-anim='true')
    .fullPageNav__delimiter
    .fullPageNav__item(data-number=3 data-anim='true')
    .fullPageNav__delimiter.fullPageNav__delimiter
    .fullPageNav__item(data-number=4)
    .fullPageNav__delimiter.fullPageNav__delimiter--last

  .fullPageWrapper
    section(style='background-image: url(./media/image/home.jpg)').fullPage.home__first
      .m-container.first__container
        .m-row.first__row
          .m-col.m-col--2.m-col-sm--10
          .m-col.m-col--8.m-col-sm--10
            .first__wrapper
              h2.first__title Вспомогательные
              .owl-carousel.owl-theme#first-slider
                .item
                  p Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem in sunt quibusdam sed tempora optio, sequi unde, beatae a nihil facilis repudiandae non, fugit odio vitae. Minima eveniet dolores ea. Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates velit nobis repellat maxime cumque, sint optio eligendi repellendus vel impedit quia voluptatem quo incidunt voluptate omnis culpa sequi corrupti iusto! Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ut quos, fugit est obcaecati cum magni dolorum maxime ea quasi similique, tenetur voluptate minus quaerat cupiditate nemo maiores ex minima molestiae.
                .item
                  p Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem in sunt quibusdam sed tempora optio, sequi unde, beatae a nihil facilis repudiandae non, fugit odio vitae. Minima eveniet dolores ea. Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates velit nobis repellat maxime cumque, sint optio eligendi repellendus vel impedit quia voluptatem quo incidunt voluptate omnis culpa sequi corrupti iusto! Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ut quos, fugit est obcaecati cum magni dolorum maxime ea quasi similique, tenetur voluptate minus quaerat cupiditate nemo maiores ex minima molestiae.
                .item
                  p Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem in sunt quibusdam sed tempora optio, sequi unde, beatae a nihil facilis repudiandae non, fugit odio vitae. Minima eveniet dolores ea. Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates velit nobis repellat maxime cumque, sint optio eligendi repellendus vel impedit quia voluptatem quo incidunt voluptate omnis culpa sequi corrupti iusto! Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ut quos, fugit est obcaecati cum magni dolorum maxime ea quasi similique, tenetur voluptate minus quaerat cupiditate nemo maiores ex minima molestiae.
                .item
                  p Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem in sunt quibusdam sed tempora optio, sequi unde, beatae a nihil facilis repudiandae non, fugit odio vitae. Minima eveniet dolores ea. Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates velit nobis repellat maxime cumque, sint optio eligendi repellendus vel impedit quia voluptatem quo incidunt voluptate omnis culpa sequi corrupti iusto! Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ut quos, fugit est obcaecati cum magni dolorum maxime ea quasi similique, tenetur voluptate minus quaerat cupiditate nemo maiores ex minima molestiae.    
              .first__buttons
                button.first__button Подробнее
              button.first__button-down(data-number=2)

    section.fullPage.home__about
      .particle#particle
      .m-container
        .m-row
          .m-col.m-col--7.m-col-sm--10
            h2.about__title Поставщик №1 в России
            p.about__text 25 лет безупречной работы и безусловное лидерство по объемам поставок вспомогательных технологических средств для сахарной промышленности в России. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quisquam provident vitae, blanditiis vel minus labore aperiam laudantium modi officiis sunt? Minima tenetur natus nihil, repudiandae cumque eum consequatur voluptates nostrum.
            a(href='#').about__link О компании
          .m-col.m-col--3.m-col-sm--10
            .about__numbers
              .about__number.anim-number 5800
              .about__desc тонн поставляемой #[br] продукции ежегодно

              .about__number.anim-number 2000
              .about__desc кв. м складов в Армавире, #[br] Санкт-Петербурге и Воронеже

              .about__number.anim-number 37
              .about__desc заводов-партнеров

    section.fullPage.industry
      .m-container
        .m-row
          .m-col.m-col--10
            .industry__text
              h2.industry__title Отрасли
        .m-row
          .industry__list-wrapper
            .industry__list
              .m-col.m-col--3.m-col-xs--10.order-1
                .industry__text
                  p.industry__desc Наша продукция используется во многих промышленных отраслях и является неотъемлимой частью на производстве. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat natus nobis officiis, tempore ducimus sequi nostrum ut, eligendi minima placeat tenetur architecto dolore mollitia, ad incidunt consectetur deserunt voluptatum recusandae? 
              .m-col.m-col--3.m-col-xs--10.order-1
                .industry__text
                  p.industry__desc Наша продукция используется во многих промышленных отраслях и является неотъемлимой частью на производстве. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat natus nobis officiis, tempore ducimus sequi nostrum ut, eligendi minima placeat tenetur architecto dolore mollitia, ad incidunt consectetur deserunt voluptatum recusandae?
              .m-col.m-col--3.m-col-xs--10.order-1
                .industry__text
                  p.industry__desc Наша продукция используется во многих промышленных отраслях и является неотъемлимой частью на производстве. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat natus nobis officiis, tempore ducimus sequi nostrum ut, eligendi minima placeat tenetur architecto dolore mollitia, ad incidunt consectetur deserunt voluptatum recusandae? 
              .m-col.m-col--3.m-col-xs--10.order-1
                .industry__text
                  p.industry__desc Наша продукция используется во многих промышленных отраслях и является неотъемлимой частью на производстве. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat natus nobis officiis, tempore ducimus sequi nostrum ut, eligendi minima placeat tenetur architecto dolore mollitia, ad incidunt consectetur deserunt voluptatum recusandae? 
              .m-col.m-col--3.m-col-xs--10.order-1
                .industry__text
                  p.industry__desc Наша продукция используется во многих промышленных отраслях и является неотъемлимой частью на производстве. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat natus nobis officiis, tempore ducimus sequi nostrum ut, eligendi minima placeat tenetur architecto dolore mollitia, ad incidunt consectetur deserunt voluptatum recusandae?
              .m-col.m-col--3.m-col-xs--10.order-1
                .industry__text
                  p.industry__desc Наша продукция используется во многих промышленных отраслях и является неотъемлимой частью на производстве. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat natus nobis officiis, tempore ducimus sequi nostrum ut, eligendi minima placeat tenetur architecto dolore mollitia, ad incidunt consectetur deserunt voluptatum recusandae? 
              .m-col.m-col--3.m-col-xs--10.order-1
                .industry__text
                  p.industry__desc Наша продукция используется во многих промышленных отраслях и является неотъемлимой частью на производстве. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat natus nobis officiis, tempore ducimus sequi nostrum ut, eligendi minima placeat tenetur architecto dolore mollitia, ad incidunt consectetur deserunt voluptatum recusandae? 
              .m-col.m-col--3.m-col-xs--10.order-1
                .industry__text
                  p.industry__desc Наша продукция используется во многих промышленных отраслях и является неотъемлимой частью на производстве. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat natus nobis officiis, tempore ducimus sequi nostrum ut, eligendi minima placeat tenetur architecto dolore mollitia, ad incidunt consectetur deserunt voluptatum recusandae?
              .m-col.m-col--3.m-col-xs--10.order-1
                .industry__text
                  p.industry__desc Наша продукция используется во многих промышленных отраслях и является неотъемлимой частью на производстве. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat natus nobis officiis, tempore ducimus sequi nostrum ut, eligendi minima placeat tenetur architecto dolore mollitia, ad incidunt consectetur deserunt voluptatum recusandae? 



    section.fullPage.partner
      picture
        source(srcset='./media/image/mobile-map.svg', media='(max-width: 760px)')
        source(srcset='./media/image/map-fon.svg')
        img.partner__fon-img(src='./media/image/map-fon.svg')
      .m-container.partner__container
        .m-row.partner__row
          .m-col.m-col--4.m-col-sm--10
            .partner__text
              h3.partner__title Наши #[br] партнеры
              .partner__desc Мы лидеры по качеству и объему продаж базовой и специальной химии для сахарных заводов в России. #[br] Компания сотрудничает с крупнейшими игроками в сфере производства сахара на российском рынке.
              .partner__list
                img.partner__img(src='./media/icon/part-4.svg')
                img.partner__img(src='./media/icon/part-1.svg')
                img.partner__img(src='./media/icon/part-2.svg')
                img.partner__img(src='./media/icon/part-3.svg').partner__img--last
                img.partner__img(src='./media/icon/part-5.svg').partner__img--last
          .m-col.m-col--3.m-col-lg--2
          .m-col.m-col--3.m-col-lg--4.m-col-sm--10