.prelouder {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 99999;
  opacity: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  transition: all .6s;

  .prelouder-logo {
    object-position: center;
    object-fit: contain;
    width: 700px;
    height: 330px;
  }
}