.accordion-section {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    button.accordion{
        background-color: transparent;
        color: #3C3C3B;
        cursor: pointer;
        padding: 20px 0;
        text-align: left;
        font-family: Bank Sans EF CY;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        letter-spacing: -0.02em;
        line-height: 24px;
        color: #3C3C3B;
        border: none;
        border-bottom: 2px solid #E0E0E0;
        position: relative;
        transition: 1s all;
    }
    button.accordion:first-child {
        border-top: 2px solid #E0E0E0; 
    }
    button.accordion svg {
        position: absolute;
        width: 19px;
        height: 19px;
        right: 15px;
        top: 50%;
        transform: translateY(-50%);
    }
    
    div.panel {
        display: none;
        padding: 15px 0;
        transition: .5s all;

        p {
            margin-bottom: 0;
        }
    }
    div.panel.show {
        display: block;
        
    }
}



#accordeon{
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    margin-top:1px;
    position: relative;
    border-bottom: 2px solid #e0e0e0;
    
        
        .head{
            font-family: Bank Sans EF CY;
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            letter-spacing: -0.02em;
            line-height: 24px;
            color: #3C3C3B;
            border: none;
            border-top: 2px solid #E0E0E0;
            background-color: transparent;
            cursor: pointer;
            padding: 20px 0;
            text-align: left;
            width: 100%;
            position: relative;
            svg {
                position: absolute;
                width: 19px;
                height: 19px;
                right: 15px;
                top: 50%;
                transform: translateY(-50%);
                transition: .4s all;
            }
            
        }

        .head:hover svg path {
            fill: #3586DC;
        }   

        .head svg.active  {
            transform: translateY(-50%) rotate(180deg);
        } 
        .head.active  {
           border-bottom: none;
        } 
        
        .hidden{
            width:100%;
            padding:0;
            margin:auto;
            visibility: hidden;
            height:0;
            overflow:hidden;
            opacity:0;
            transition:all .3s linear;
            font-family: Proxima Nova;
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 27px;
            color: #757575;     
          }
          .active{
            padding:15px 0;
            visibility: visible;
            height:auto;
            overflow:none;
            opacity:1;
          }
        
}



  

