// Proxima Nova

@font-face {
  font-family: 'Proxima Nova';
  src: url('../fonts/ProximaNova/ProximaNova-Bold.ttf');
  src: url('../fonts/ProximaNova/ProximaNova-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('../fonts/ProximaNova/ProximaNova-Semibold.ttf');
  src: url('../fonts/ProximaNova/ProximaNova-Semibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('../fonts/ProximaNova/ProximaNova-Regular.ttf');
  src: url('../fonts/ProximaNova/ProximaNova-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

// BankSansEFCY

@font-face {
  font-family: 'Bank Sans EF CY';
  src: url('../fonts/BankSansEFCY/medium.otf');
  src: url('../fonts/BankSansEFCY/medium.otf') format('truetype');
  font-weight: 500;
  font-style: normal;
}