.industry {
  background: #3586DC;
  padding: 100px 0;
  display: flex;
  opacity: 1;
  z-index: 50;
  align-items: center;

  &:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(222.75deg,rgba(82,157,227,0) -35.37%,rgba(23,117,204,.76) 66.63%,#1775cc 87.8%);
    z-index: 1;
    top: 0;
    left: 0;
    
  }
  .industry__title {
    font-family: 'Bank Sans EF CY', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 58px;
    letter-spacing: -0.02em;
    color: #FFFFFF;
    margin-bottom: 50px;
    z-index: 10;
    position: relative;
  }

  .industry-left {
    p {
      font-family: 'Proxima Nova', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 17px;
      line-height: 35px;
      color: #fff;
      margin-bottom: 20px;
      max-width: 700px;
      z-index: 10;
      position: relative;
    }
  }
  .industry-right {
    z-index: 10;
    position: relative;
    & .partner__text:first-child {
      padding-bottom: 20px;
      border-bottom: 1px solid #fff;
    }
  }

  .industry__desc {
    max-width: 350px;
    font-family: 'Proxima Nova', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 25px;
    color: #FFFFFF;
    margin-bottom: 50px;
  }

  // .industry__list-wrapper {
  //   position: relative;
  //   width: 100%;
  //   height: 650px;
  //   overflow: hidden;

  //   &::after {
  //     content: '';
  //     height: 236px;
  //     position: absolute;
  //     width: 100%;
  //     left: 0;
  //     bottom: 0;
  //     background: linear-gradient(180deg, rgba(53, 134, 220, 0) 0%, #3586DC 81.25%);
  //   }
  // }

  

    // .item {
    //   display: flex; 
    //   margin-bottom: 40px;

    //   &:last-child {
    //     margin-bottom: 100px;
    //   }

    //   &__icon {
    //     width: 35px;
    //     min-width: 35px;
    //     height: 35px;
    //     background-position: center;
    //     background-size: contain;
    //     background-repeat: no-repeat;
    //     background-image: url(../media/icon/tank.svg);
    //     margin-right: 20px;
    //   }

    //   &__text {
    //     max-width: 463px;
    //     width: 100%;

    //     .title {
    //       margin-bottom: 15px;
    //       font-family: 'Proxima Nova', sans-serif;
    //       font-style: normal;
    //       font-weight: bold;
    //       font-size: 22px;
    //       line-height: 29px;
    //       color: #FFFFFF;
    //     }

    //     .desc {
    //       font-family: 'Proxima Nova', sans-serif;
    //       font-style: normal;
    //       font-weight: normal;
    //       font-size: 17px;
    //       line-height: 25px;
    //       color: #FFFFFF;
    //     }
    //   }
    // }
  

  // .industry__left {
  //   height: 100%;
  //   display: flex;
  //   flex-direction: column;
  //   justify-content: space-between;
  // }

  //   .industry__numbers {
  //     .industry__number {
  //       font-family: 'Bank Sans EF CY', sans-serif;
  //       font-style: normal;
  //       font-weight: 500;
  //       font-size: 90px;
  //       line-height: 108px;
  //       letter-spacing: -0.1em;
  //       color: #FFFFFF;
  //       position: relative;

  //       &::after {
  //         content: '';
  //         position: absolute;
  //         width: 25px;
  //         height: 25px;
  //         top: -12.5px;
  //         left: -12.5px;
  //         background-image: url(../media/icon/border.svg);
  //         background-position: center;
  //         background-size: contain;
  //         background-repeat: no-repeat;
  //       }
  //     }

  //     .industry__desc {
  //       font-family: 'Proxima Nova', sans-serif;
  //       font-style: normal;
  //       font-weight: normal;
  //       font-size: 15px;
  //       line-height: 22px;
  //       color: #FFFFFF;
  //     }
  //   }

  //   &__numbers {

  //   }

  .indst-wrap {
    display: flex;
    .industry-left {
      flex: 50%;

      p {
        strong {
          color: #f97b36;
        }
      }
    }
    & .industry-left:first-child {
      margin-right: 50px;
    }
  }
}