.partner {
  background: #3586DC;
  opacity: 1;
  z-index: 50;
  padding: 80px 0;
  position: relative;
  height: 100%;
  min-height: 100vh;

  &:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(222.75deg, rgba(82,157,227,0) -35.37%, rgba(23, 117, 204, .76) 66.63%, #1775cc 87.8%);
    z-index: 1;
    top: 0;
    left: 0;

  }

  &__fon-img {
    position: absolute;
    object-fit: cover;
    object-position: center;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;

  }

  &__container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__row {
    position: relative;
    z-index: 10;

  }

  &__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;

    margin-bottom: 20px;
    // border-bottom: 1px solid #fff;
    max-width: 300px;
  }

  &__title {
    font-family: 'Bank Sans EF CY', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 58px;
    letter-spacing: -0.02em;
    color: #FFFFFF;
    margin-bottom: 40px;
    margin-bottom: 100px;
    z-index: 10;
    position: relative;
  }

  &__desc {
    font-family: 'Proxima Nova', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    color: #FFFFFF;
    margin-bottom: 68px;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    img {
      margin-bottom: 15px;
      width: 90%;
      object-fit: contain;
      max-height: 80px;
    }

    .logo-desc {
      font-family: 'Proxima Nova',sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 15px;
      line-height: 22px;
      color: #fff;
    }
  }

  &__alert {
    height: 100%;
    display: flex;
    align-items: flex-end;

    .alert-block {
      position: relative;
      width: 100%;
      display: flex;
      align-items: center;
      padding: 35px 70px 35px 30px;

      .number {
        font-family: 'Bank Sans EF CY', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 70px;
        line-height: 84px;
        letter-spacing: -0.1em;
        color: #F97C36;
        margin-right: 20px;
        margin-top: 15px;
      }

      .desc {
        font-family: 'Proxima Nova', sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 15px;
        line-height: 21px;
        color: #FFFFFF;
      }
    }
  }

  &__mobile {
    display: none;
  }
}