@media screen and (max-width: 1290px) {
  // header
  .header {
    padding: 40px 30px;

    &__logo {
      img {
        width: 140px;
      }
    }

    &__nav {
      .nav__link {
        margin-right: 20px;
        font-size: 16px;
        line-height: 120%;
      }
    }

    &__button {
      padding: 19px 30px;
    }
  }
  // header end

  // first
  .home__first {
    .first__text {
      font-size: 18px;
      line-height: 120%;
      margin-top: -305px;
    }

    .first__title {
      .word-wrapp {
        height: 40px;
      }
    }

    .first__wrapper {
      .first__title {
        font-size: 40px;
        line-height: 120%;
      }
    }

    .first__buttons {
      // margin-top: 50px;

      &:last-child {
        margin-top: 0;
      }
    }

    .first__button-down {
      width: 45px;
      height: 45px;
      background-size: 12px;
      bottom: 50px;
    }
  }
  // first end

  // home about
  .home__about {
    .about__title {
      font-size: 28px;
      line-height: 120%;

      br {
        display: none;
      }
    }

    .about__video {
      width: 230px;
      height: 230px;
      position: relative;

      .video__poster {
        width: 100%;
        height: 100%;
        margin-left: 0;
        margin-top: 0;
        top: 0;
        left: 0;
      }
    }

    .about__numbers {
      margin-top: 0;

      .about__number {
        font-size: 50px;
        line-height: 120%;

        &::after {
          top: -2.5px;
          left: -8.5px;
        }
      }

      .about__desc {
        margin-bottom: 50px;
      }
    }
  }
  // home about end

  // industry
  .industry {
    .industry__title {
      font-size: 28px;
      line-height: 120%;
      margin-bottom: 35px;
    }

    .industry__desc {
      max-width: 100%;
      font-size: 14px;
      line-height: 150%;
    }

    .industry__list {
      .item__text {
        width: 100%;

        .title {
          font-size: 18px;
          line-height: 130%;
          margin-bottom: 20px;
        }

        .desc {
          font-size: 14px;
          line-height: 150%;
        }
      }
    }

    .industry__numbers {
      .industry__number {
        font-size: 50px;
        line-height: 120%;

        &::after {
          top: -8px;
          left: -8px;
        }
      }
    }
  }
  // industry end

  // alert block
  .alert-block {
    .text {
      font-size: 12px;
      line-height: 150%;
    }
  }
  // alert block end

  // map
  .map {
    .small-text__desc {
      font-size: 14px;
      line-height: 150%;
    }
  }

  .map__big-text {
    .big__title {
      font-size: 25px;
      line-height: 120%;
    }

    .big__text {
      font-size: 14px;
      line-height: 150%;
    }

    .alert-block {
      display: none;
    }
  }
  // map end

  // fon video
  .fon-video {
    .fon-video__info {
      max-width: 342px;

      .fon-video__title {
        font-size: 28px;
        line-height: 120%;
      }

      .font-video__text {
        font-size: 14px;
        line-height: 150%;
      }
    }

    .fon-video__left {
      .fon-video__logo {
        width: 123px;
        min-width: 123px;
        height: 123px;
      }

      .fon-video__logo-text {
        font-size: 24px;
        line-height: 120%;
      }
    }
  }
  // fon video end

  // home man
  .home-man__row {
    bottom: -218px;
  }

  .home-man__about {
    margin-bottom: 100px;
    min-width: 350px;
  }

  .home-man__name {
    font-size: 28px;
    line-height: 120%;
    margin-bottom: 15px;
  }

  .home-man__post {
    font-size: 16px;
    line-height: 150%;
    margin-bottom: 40px;
  }

  .home-man__list {
    .item {
      width: 50px;
      min-width: 50px;
      height: 50px;

      .item--active {
        width: 60px;
        min-width: 60px;
        height: 60px;
      }
    }
  }
  // home man end

  // partner
  

  .partner__title {
        font-size: 40px;
    line-height: 120%;
    margin-top: 50px;
  }

  .partner__desc {
    font-size: 14px;
    line-height: 150%;
  }

  .partner__alert {
    .alert-block {
      padding: 20px;
      padding-right: 34px;

      .number {
        font-size: 40px;
        line-height: 120%;
        margin-top:-10px;
      }
    }
  }
  // partner end
  .about_company {
    padding: 200px 0;
    .company__right {
      .alert-block {
        padding: 40px 20px;
      }
    }
  }
  .principles {
    padding: 100px 0;
    .about__video {
      width: 550px;
      height: 550px;

      margin: 0 auto;
      margin-bottom: 30px;
    }
  }
  // about page end
  .product-page {
    .product-desc {
      h2 {
        text-align: center;
      }

      .product-content {
        justify-content: center;
      }
    }
  }
  .product-page .product-desc p {
    margin: 0 auto;
    margin-bottom: 50px;
    max-width: 800px;
  }
   // single-product-page
   .product-page {
    .product_next_btn {
      display: none;
    }
     
      .product-overlay {
          width: 100%;
          height: 100%;
          .product-content {
            position: relative;
          padding-right: 50px;
          justify-content: center;
          .img-block {
            padding-left: 110px; 
          }
          .product_next_btn {
            top: 44%;
            right: -83px; 
          }
        }
      }
    
  }
  // single-product-page end
  
  // products
  .products {
    .product-slider {
      .item {
        max-width: calc(100% / 2 - 24px);
      }
    }
  }
  // products end
  .servis-row {
    .servis-link {
      .empty {
        display: none;
      }
    }
  }
}