@media all and (max-height: 660px) {
  .main-modal__body {
    max-height: 90%;
    width: 90%;
    overflow: auto;
    padding: 30px 15px;

    .modal-body__close {
      top: 15px;
      right: 15px;
      filter: brightness(0);
      width: 20px;
      height: 20px;
    }
  }
  // servis page
  .servis {
    padding-top: 165px;
    .servis-content {
      h1 {
        margin-bottom: 15px;
        font-size: 45px;
      }

      p {
        margin-bottom: 20px;
        font-size: 17px;
      }

      .servis__numbers {
        margin-bottom: 80px;
        .servis__number{
          font-size: 70px;
        }
        
      }
      .servis__button-down::after {
        width: 56px;
        height: 56px;
      }
    }
  }
}