block variables

doctype html
html(lang='ru-RU')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0')
    link(rel='stylesheet', href='css/owl.theme.default.min.css')
    link(rel='stylesheet', href='css/owl.carousel.min.css')
    link(rel='stylesheet', href='css/main.css')
    title=pageTitle
  body
    block content
    script(src='https://code.jquery.com/jquery-3.4.1.min.js', integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=", crossorigin="anonymous")
    script(src='buildjs/index.js')
    script
      include ../../js/map.js