footer.footer
  .footer__nav
    a(href='/').header__logo
      img(src='./media/icon/logo.svg')

    .header__nav
      a(href='./products.html').nav__link Продукция
      a(href='#').nav__link Сервисная служба
      a(href='#').nav__link О компании
      a(href='#').nav__link Контакты

    button.header__button.main-modal-show Связаться

  .footer-doc
    p © Официальный сайт компании “Дефотек”#[br] Все права защищены.
    a(href="#" target="_blank")  Политика конфиденциальности

  