header.header
  .header__humb
    .humb-item
    .humb-item
    .humb-item

  a(href='/').header__logo
    img(src='./media/icon/white-logo.svg')

  .header__nav
    a(href='./products.html').nav__link Продукция
    a(href='./servis.html').nav__link Сервисная служба
    a(href='./about.html').nav__link О компании
    a(href='./contacts.html').nav__link Контакты

  button.header__button.main-modal-show Связаться
  button.header__mobile.main-modal-show