.mobile-modal
  .mobile-modal__links
    a.mobile-modal__link(href='#') Продукция
    a.mobile-modal__link(href='#') Сервисная служба
    a.mobile-modal__link(href='#') О компании
    a.mobile-modal__link(href='#') Контакты
  .mobile-modal__button.main-modal-show Связаться