.alert-block {
  padding: 50px 30px;
  height: max-content !important;
  bottom: 0;
  top: auto !important;
  background: #323232;
  border-radius: 4px 4px 0 0;
  position: relative;

  .info {
    position: absolute;
    width: 25px;
    height: 25px;
    background-position: center;
    background-image: url(../media/icon/info.svg);
    background-size: contain;
    background-repeat: no-repeat;
    top: 15px;
    right: 15px;
  }

  .text {
    font-family: 'Proxima Nova', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    color: #FFFFFF;

    span {
      color: #F97C36;
    }
  }
}