#slider-servis {
    padding-top: 100px;
    overflow: hidden;
    .home-man-title {
        margin-bottom: 180px;
        font-size: 48px;
    }
    .home-man__KD {
        margin-bottom: 100px;
        padding-left: 20px;
        max-width: 450px;
    }
    .home-man__name__KD {
        font-size: 36px;
        line-height: 43px;
        margin-bottom: 10px;
        
    }  
    .home-man__about--current,
    .home-man__name--current {
        display: block;
    }  
    .home-man__row {
        z-index: 0;
    }
    .servis-row_KD {
        position: relative;
        z-index: 1;
    }
}